/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*remove pre-built css*/
button{
    all: unset;
}

a{
    text-decoration: none;
}

/*make sure navbar is ontop*/
.nav-placeholder{
    position: sticky;
    top: 0;
    z-index: 999;
}

/*commonly used background*/
.long-bg{
    background-color: #32CB94;
    background-image: url('../assets/general/pattern-bg-long.png');
    padding-bottom: 10vh;
    position: relative;
    padding-top: 4vw;
}

/*setup classes for font types*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.jost-regular{
    font-family: "Jost", sans-serif; 
    font-weight:400;
}

.jost-medium{
    font-family: "Jost", sans-serif; 
    font-weight: 500;
}

.exo-semibold{
    font-family: "Exo", sans-serif; 
    font-weight: 600
}

/*using images as a background */
.background-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*parent needs to be relative*/
/*uses absolute and transform*/
.abs-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}