@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/*set default font for footer */

footer{
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-size: 0.85rem;
}

.nav-item{
    margin-left: 0;
    font-weight: 400;
}

.nav{
    --bs-nav-link-hover-color: none;
}
h5{
    font-size: 1rem;
    margin-bottom: 2vw;
}
.section-text{
    color: #DADADA;
    font-weight: 400;
}
/*fonts*/
.libre-regular {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-style: normal;
}
