
/*remove pre-built css*/
button{
    all: unset;
}

.banner{
    background-color: #32CB94;
    background-image: url('../assets/banner-pattern.png');
    height: 36vw;
}

.h-dots{
    display: inline-block;
    margin-left: calc(10% + 2vw);
    width: 2.8vw;
    margin-top: -16.9vw;
    object-fit: contain;
}

#heading{
    display: inline-block; /*make it same size as text */
    font-size: 2.6vw;
    color: #E1E1E1;
    
}

.banner-desc{
    margin-left: 5.5vw; /*align with the ITMastermindz text in the navbar*/
    margin-top: 8.2vw;
    line-height: 110%; /*default line height was too big*/
    height: 100%;
}
/*set position to absolute, right to 0 to make sure text is same width as heading's*/
#heading-desc{
    margin-top: 2.5vw;
    font-size: 0.9vw;
    color: #E1E1E1;
}

.join-btn{
    /*set button style*/
    background: #245D51;
    border-radius: 30px;
    /*set text style */
    font-size: 1.43vw;
    color: #ffffff;
    /*set size */
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    /*set position */
    margin-top: 2.5vw;
    /*set drop shadow*/
    box-shadow: 0px 6px 17px 0px #245D51;
}

#banner-man{
    width: 28vw;
    margin-top: auto; /*align to bottom*/
    object-fit: contain;
    margin-left: -6vw; /*move to left*/
    z-index: 9; /*ensure it says on top of v-dots*/
}

.v-dots{
    margin-top: auto; /*align to bottom*/
    margin-bottom: 1vw; /*slightly above bottom*/
    width: 9vw;
    object-fit: contain; /*keep aspect ratio */
    margin-left: -9vw; /*move to left*/
}

.why-join-box{
    border-radius: 16px;
    box-shadow: 0.91px 4.57px 45.7px 0 #54637A33;
    width: 30%; /*since there are 3 of these boxes, max width is 33%. Set to 30% to give 10% for spacing*/
    margin-bottom: 4vw;
}

.why-join-desc{
    /*margins*/
    margin-top: 2vw; 
    margin-left: 5%; 
    margin-right: 5%; 
    margin-bottom: 2vw; 
    /*text css*/
    color: #6F6B80; 
    font-size: 0.85vw; 
    text-align: center;
}