@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/*set default font for navbar */
.navbar,.dropdown-menu{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.nav-login-btn{
    background: #245D51;
    /*font css*/
    color: white;
    font-size: 14px;
    /*button size*/
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 20px;
}

/*set horizontal spacing between nav items*/
li{
    margin: 0 1vw;
}

/*override bootstrap css*/
.dropdown-menu{
    --bs-dropdown-link-active-bg: none;
}

#nav-search-bar-form{
    display: none; 
    align-items: center; 
    margin-right: 1vw;
    width: 25vw;
}

#nav-search-bar {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-size: 0.95vw;
    background-color: white;
    background-repeat: no-repeat;
}

/*keyframe animation to reveal right to left. Its associated to a class so it can be trigger via js*/
#nav-search-bar.active {
    animation: reveal 0.25s;
    animation-timing-function: ease-in-out;
}

@keyframes reveal {
    from {
        clip-path: inset(0 0 0 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

#nav-search-bar::-webkit-search-cancel-button{
    position:relative;
    right:20px;    
}