@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/*set default font for navbar */
.navbar{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.login-btn{
    background: #245D51;
    /*font css*/
    color: white;
    font-size: 14px;
    /*button size*/
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 20px;
}

/*set horizontal spacing between nav items*/
li{
    margin: 0 1vw;
}