
main{
    background-color: #32CB94;
    background-image: url('../assets/general/pattern-bg-full.png');
    padding: 5vw 11%;
}

#edit-icon{
    display:none;
    object-fit: cover;
    height: 1.5vw; 
    width: 1.5vw; 
    margin-left: auto; 
    margin-top: 0.5vw; 
    margin-right: 2vw;
    cursor: pointer;

}

.profile-section{
    background: white;
    border-radius: 20px;
    width: 100%;
    padding: 1.8vw 5% !important;
    height: max-content; /*Fit child's height*/
}

/*Override the default css*/
h3{
    margin-bottom: 0 !important;
    font-size: 0.95vw !important; 
    color: #474747 !important;
}
/*make a gray circle*/
.circle-seperator{
    border-radius: 50%; 
    background-color: #474747; 
    width: 0.5vw; 
    height: 0.5vw;
}

.progress-stat-label{
    color: #474747;
    font-size: 0.9vw;
    margin-bottom: 0.5vw;
}

.progress-stat-value{
    color: #000000 !important;
    margin-left: 0.8vw;
}

.course-seperator{
    height: 0.13vw;
    background-color: #D9D9D9; 
}

.course-content{
    padding: 2vw 0;
    cursor: pointer;
}

.course-thumbnail{
    object-fit: contain;
    width: 18%;
}

.course-title{
    color: black; 
    font-size: 0.95vw; 
    text-align: left;
}

.course-complete-date{
    color: #585858;
    font-size: 0.85vw;
    text-align: left;
}