.quiz {
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 15%;
    padding: 20px;
    margin-top: 3%;
    border-radius: 10px;
    align-items: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;    
    max-width: 70%;
}

main{
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
  }

h2{
    font-size: 1.9vw !important;
    font-weight:600 !important;
}