@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

#system-grid{
    margin-left: 10%; 
    width: 60%; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-column-gap: 7%; 
    grid-row-gap: 3vw;
}
.system-logo{
    background: #245D51; 
    width: 100%; 
    border-radius: 1.3vw; 
    padding-top: 3vw; 
    height: 18vw;

}

.system-info{
    background: #FDFDFD; 
    width: 93%;
    border-radius: 1.3vw; 
    margin: 0 auto; 
    margin-top: -35%; /*use negative margin to overlap*/
    padding-top: 10%; 
    padding-right: 5%; 
    padding-left: 5%; 
    padding-bottom: 8%;
}

.system-name{
    font-size: 1.2vw; 
    color: #171725; 
    text-align: center;
}

.system-desc{
    font-size: 0.7vw; 
    color: #000000; 
    text-align: center;
}

.extra-options{
    color: #575757; 
    font-size: 0.7vw;
}
.learn-btn-container{
    display: flex;
    margin-top: -5%; /*use negative margin to overlap*/
    justify-content: center;
}
.learn-btn{
    background-color: #245D51;
    color: white;
    font-size: 0.75vw;
    border-radius: 1.3vw;
    padding: 0.5vw 1.3vw;
}