@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-field {
    /*get only the bottom border*/
    border-color: #ffffff !important;
    outline: 0 !important;
    border-width: 0 0 2px !important;
    border-radius: 0 !important;
    width: 80%;
    font-size: 0.9vw;
    background: none;
}

.search-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d9d8d8 !important;
    opacity: 1; /* Firefox */
}

input {
    color: #fff !important;
    font-size: 1.2vw !important;
}

.ms-n5 {
    margin-left: 0px;
}

.form-check-label {
    font-size: 0.92vw;
    font-family: "Jost", sans-serif;
    font-weight: 300;
}

table { 
    border-collapse: separate !important;
    border-spacing: 0 0.6vw;
}

.checkbox-full {
    display: flex;
}

.check-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    height: 0.9vw;
    width: 0.9vw;
    background-color: transparent;
    border: 2px solid white;
    transform: translateY(-50%);
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a teal background */
.check-container input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark::after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark::after {
    /*center it */
    left: 30%;
    top: 9%;
    /*size*/
    width: 4px;
    height: 8px;
    border: solid #208A6D; /*colour*/
    border-width: 0 2px 2px 0; /*thickness. only enable 2 borders to make a 90 degree*/
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); /*rotate to make checkmark*/
}

.form-count {
    margin-left: 5vw;
    font-size: 0.9vw;
}

#system-grid {
    margin-left: 15%; 
    width: 50%; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 8%; 
    grid-row-gap: 3vw;
}

.system {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 450px; /* Ensure all cards have the same fixed height */
}

.system-logo {
    background: #245D51; 
    width: 100%; 
    border-radius: 1.3vw; 
    padding-top: 3vw; 
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.system-info {
    background: #FDFDFD; 
    width: 100%;
    border-radius: 1vw; 
    margin-top: -8%; /* Adjusted to move the white rectangle down more */
    padding: 10%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center align content */
    text-align: center; /* Center text */
    height: 130px; /* Ensure all info sections have the same height */
}

.system-name {
    font-size: 1.2vw; 
    color: #171725; 
}

.system-desc {
    font-size: 0.7vw; 
    color: #000000; 
}

.extra-options {
    color: #575757; 
    font-size: 0.7vw;
}

.learn-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.learn-btn {
    background-color: #245D51;
    color: white;
    font-size: 0.75vw;
    border-radius: 1.3vw;
    padding: 0.5vw 1.3vw;
    margin-top: -17px; /* Add margin to separate from the content above */
    z-index: 1;
    position: relative;
}
